.radio_input[type='radio']:checked,
.radio_input[type='radio']:not(:checked) {
  @apply absolute left-[-9999px] hidden;
}

.radio_input[type='radio']:checked + label,
.radio_input[type='radio']:not(:checked) + label {
  @apply relative cursor-pointer pl-7 leading-4;
}

.radio_input[type='radio']:checked + label:before,
.radio_input[type='radio']:not(:checked) + label:before {
  content: '';
  @apply bg-background absolute left-0 top-0 h-[18px] w-[18px] rounded-full border border-gray-300;
}

.radio_input[type='radio']:checked + label:before {
  @apply border-primary /*
  border-color: rgb(var(--color-accent)); */ border;
}

.radio_input[type='radio']:checked + label:after,
.radio_input[type='radio']:not(:checked) + label:after {
  content: '';
  @apply bg-primary absolute left-1 top-1 h-2.5 w-2.5 rounded-full transition-all duration-200;
}

.radio_input[type='radio']:not(:checked) + label:after {
  @apply scale-0 opacity-0;
}

.radio_input[type='radio']:checked + label:after {
  @apply scale-100 opacity-100;
}
